# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master, feature/#12_implement_job_execution ]
  pull_request:
    branches: [ master, feature/#12_implement_job_execution ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
          submodules: recursive
      - name: Build with Maven
        run: mvn -B package --file pom.xml
